body{
    background-color: rgb(19, 83, 102);
}
#jumbo{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(0, 109, 143);
    text-align: center;
    color: rgb(6, 6, 245);
    font-size: 80px;
}
.image{
    width: 300px;
    height: 300px;
    margin: 30px;
}
#head{
    font-size: 25px;
    color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.image:hover, #head:hover{
    box-shadow: 0px 10px 50px rgb(10, 10, 10);
}
.table{
    background-color: rgb(47, 143, 150);
}
.button{
    font-size: 25px;
    font-weight: bold;
}
