body{
background-color: firebrick;
}
#jumbo{
    margin-top: 0px;
    margin-bottom: 0px;
 background-color: maroon;
    text-align: center;
    color: rgb(6, 6, 245);
    font-size: 80px;
}
.image{
    width: 300px;
    height: 300px;
    margin: 30px;
}
#head:hover{
    box-shadow: 0px 10px 50px rgb(51, 255, 0);
}
#head{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.image:hover{
    box-shadow: 0px 10px 50px rgb(60, 255, 0);
}
.button{
    font-size: 25px;
    font-weight: bold;
}
.table{
    background-color: red;
}