body{
    background-image: url(background/river.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
}
#jumbo{
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url(background/Chrysanthemum.jpg);
    opacity: 0.9;
    text-align: center;
    color: rgb(6, 6, 245);
    font-size: 80px;
}
.video{
    margin-top: 0px;
    width: 700px;
    height: 300px;
    float: left;
}
#head{
    font-size: 25px;
    color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
#black{
    background-color: greenyellow;
    color: rgb(0, 4, 255);
    font-size: 20px;
}
